# Project exclude paths
/node_modules/
/node_modules/cookie/
/node_modules/react-router/
/node_modules/react-router/dist/development/chunk-7SIULPXI.js
/node_modules/react-router/dist/development/chunk-BV7QT456.mjs
/node_modules/react-router/dist/development/chunk-HT4INDD5.mjs
/node_modules/react-router/dist/development/chunk-QPXIKN46.js
/node_modules/react-router/dist/development/chunk-YRTY65LJ.js
/node_modules/react-router/dist/development/dom-export.js
/node_modules/react-router/dist/development/dom-export.mjs
/node_modules/react-router/dist/development/index-react-server-client.js
/node_modules/react-router/dist/development/index-react-server-client.mjs
/node_modules/react-router/dist/development/index-react-server.js
/node_modules/react-router/dist/development/index-react-server.mjs
/node_modules/react-router/dist/development/index.js
/node_modules/react-router/dist/development/index.mjs
/node_modules/react-router/dist/development/lib/types/internal.js
/node_modules/react-router/dist/development/lib/types/internal.mjs
/node_modules/react-router/dist/production/chunk-6XRGXNVQ.js
/node_modules/react-router/dist/production/chunk-EFMJ2SG4.mjs
/node_modules/react-router/dist/production/chunk-LNBCQR6O.js
/node_modules/react-router/dist/production/chunk-SJHDA7OG.js
/node_modules/react-router/dist/production/chunk-UODOIDHR.mjs
/node_modules/react-router/dist/production/dom-export.js
/node_modules/react-router/dist/production/dom-export.mjs
/node_modules/react-router/dist/production/index-react-server-client.js
/node_modules/react-router/dist/production/index-react-server-client.mjs
/node_modules/react-router/dist/production/index-react-server.js
/node_modules/react-router/dist/production/index-react-server.mjs
/node_modules/react-router/dist/production/index.js
/node_modules/react-router/dist/production/index.mjs
/node_modules/react-router/dist/production/lib/types/internal.js
/node_modules/react-router/dist/production/lib/types/internal.mjs
/node_modules/react-router-dom/dist/index.js
/node_modules/react-router-dom/dist/index.mjs
/node_modules/react-router-dom/LICENSE.md
/node_modules/react-router-dom/README.md